
.skills-section {
    margin: 5% 5% 0% 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.skills-title {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    position: relative;
    z-index: 7;
}

.skills--info-container {
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 3;

}