.form--container {
    width: 80%;
}

.form--container div {
    margin-bottom: 35px;
}

.input {
    border-radius: 50px;
    font-size: 1.3em;
    backdrop-filter: blur(3px);
    border-top: 1.5px solid rgba(255, 255, 255, 0.7);
    border-left: 1.5px solid rgba(255, 255, 255, 0.7);
    width: 100%;
    padding: 1% 5% 1% 5%;
    background: var(--background-input);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.input-button {
    border-radius: 50px;
    backdrop-filter: blur(3px);
    border-top: 2px solid rgba(255, 255, 255, 0.7);
    border-left: 2px solid rgba(255, 255, 255, 0.7);
    width: 20%;
    padding: 1% 0% 1% 0%;
    background: var(--background-input);
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.input-button:active {
    transform: scale(0.9);
}
