
.navigation-section {
    position: fixed;
    display: flex;
    left: 2%;
    top: 15%;
    z-index: 9;
    justify-content: space-between;
}

.navigation-elements {
    position: relative;
    text-align: center;
    align-items: center;
}


.navigation--logo {
    width: 100px;
    cursor: pointer;
}

.navigation--icon {
    width: 70px;
    cursor: pointer;
}

.navigation--separation-bar {
    height: 124px;
    width: 10px;
    border-radius: 5px;
    background-color: #831187;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
}
