
.projects--section {
    margin: 5% 5% 0% 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.project--title {
    
    height: var(--title-size);
    margin-top: 5%;
    margin-bottom: 7%;
    width: 100%;
    position: relative;
    z-index: 7;
}

.project--container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}