
.projects--section {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.project--title {
    
    height: var(--title-size);
    margin-top: 5%;
    margin-bottom: 7%;
    width: 100%;
    position: relative;
    z-index: 7;
}

.project--container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.asset2-container {
    position: absolute;
    z-index: 0;
    top: 5%;
    height: 800px;
    width: 450px;
    overflow: hidden;
}

.asset2 {
    position: absolute;
    left: -400px;
    height: 100%;
    animation: rightRotation 30s infinite linear;
}