.proj--component {
    background: var(--background-component);
    height: 100%;
    width: 40%;
    padding: 7%;
    border-radius: 35px;
    border: 3.5px solid rgba(255, 255, 255, 0.7);
    z-index: 4;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 4%;
}