
.header-container {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.circle-grad {
    background: var(--circle-gradient);
}

.returnzero-title {
    margin-top: 8%;
    position: relative;
    z-index: 7;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.linear-grad {
}

.bg-rays {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -0.5%;
}

.web-developer {
    position: absolute;
    color: white;
    font-family: var(--accent-font);
    font-size: 4vw;
    margin-top: -15%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 30%;
    text-align: center;
}

@media (max-width: 1300px) {
    
    
    

}

@media (max-width: 1100px) {
    
    
    

}

@media (max-width: 800px) {

    .bg-mountains {
        margin-top: 10%;
    }
    
    
.returnzero-title {
    width: 60%;
}

}

@media (max-width: 700px) {

    .header-section {
        margin-bottom: 5%;
    }

    .header-container {
        padding-top: 5%;
    }
    
    .bg-mountains {
        margin-top: 15%;
    }
    
    .web-developer {
        margin-top: -10%;
    }

}



